* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 130px;
    font-family: 'Mulish', sans-serif;
}

/* Common CSS */

.orange {
    color: #FF5400;
}

.btn-primary {
    height: 50px;
    width: 170px;
    padding: 16px 35px;
    border-radius: 8px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

/* Header Part */
.header {
    margin: 50px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar {
    display: none;
}

.nav .title {
    display: flex;
    align-items: center;
}

.nav .title h3 {
    margin-left: 18px;
    font-size: 1.8rem;
    font-weight: 800;
}

.nav .title img {
    width: 55px;
    height: 50px;
}

.nav .lists>ul {
    display: flex;
    gap: 45px;
}

.nav .lists li {
    list-style: none;
}

.nav .lists a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Hero Part */

.hero {
    margin: 0 auto;
    padding-top: 150px;
    height: 70vh;
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-title>h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin: 20px 0;
}

.hero-paragraph {
    height: 55px;
    width: 700px;
    margin-bottom: 70px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.hero-selectors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    height: 90px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.hero-selectors .select {
    height: 50px;
    width: 170px;
    background-color: #fff;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.hero-selectors .select>h4 {
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}

.hero-btn {
    display: flex;
    justify-content: space-between;
}

/* Popular Tours */

.popular-tours {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.tour-contents {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.tour-titles {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}

.tour-paragraph {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1.25rem;
    font-weight: 500;
    width: 725px;
}

.tour-list {
    color: rgba(19, 19, 24, 0.70);
    margin-left: 15px;
    font-size: 1.25rem;
    font-weight: 500;
    width: 725px;
}

.tour-list>li {
    margin-bottom: 10px;
}

.read-more {
    margin-top: 20px;
}

.tour-img {
    flex: 1;
}

.tour-img img {
    width: 100%;
    object-fit: cover;
}

/* Destination Part */
.destination-content {
    text-align: center;
}

.destination-content h2 {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}

.destination-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.destination-images {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.destination-images img {
    width: 100%;
}

.one {
    grid-column: span 6;
}

.two {
    grid-column: span 6;
}

.three {
    grid-column: span 4;
}

.four {
    grid-column: span 5;
}

.five {
    grid-column: span 3;
}

.six {
    grid-column: span 5;
}

.seven {
    grid-column: span 7;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven {
    position: relative;
    overflow: hidden;
}

.pic-title {
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
}


/* Choose Part */

.choose-title {

    text-align: center;
}

.choose-title h2 {
    margin-top: 80px;
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.choose-title p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.choose-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.choose-header {
    color: #131318;
    font-size: 1.25rem;
    font-weight: 800;
}

.choose-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.left-card,
.right-card,
.center-card {
    padding: 60px 40px 20px 40px;
    height: 290px;
    width: 580px;
    border-radius: 24px;
    flex: 1;
}

.left-card {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.right-card {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.center-card {
    margin: 0 auto;
    width: 800px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}


/* Deals Part */

.deals-container {
    margin-top: 100px;
    text-align: center;
}

.deals-container h2 {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}

.deals-container p {
    margin: 0 auto;
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 70px;
}

.deal-card {
    border-radius: 16px;
    height: 70vh;
    background: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.deal-card-one {
    width: 580px;
    height: 390px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
}

.deal-card-icons {
    display: flex;
}

.time,
.people,
.location {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.deal-card-title {
    text-align: left;
    color: #131318;
    font-size: 1.254rem;
    font-weight: 800;
}

.deal-card-description {
    width: 480px;

    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

/* Perfect */
.perfect {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.perfect-container {
    width: 50%;
}

.perfect-title {
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}

.perfect-para {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.perfect-list {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.perfect-list li {
    padding-bottom: 30px;
}

.perfect-para,
.perfect-list {
    width: 740px;
}

.perfect-image {
    flex: 1;
}

.perfect-image img {
    width: 100%;
    object-fit: cover;
}

.newsletter {
    margin-top: 100px;
    display: flex;
}

.newsletter-form {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.form-title {
    color: #131318;
    font-size: 1.25rem;
    font-weight: 800;
}

.form-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.form input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    border: none;
}
.form input::placeholder{
    padding-left: 20px;
}

.newsletter-img {
    margin: 0 auto;
    width: 900px;
}

.newsletter-img img {
    width: 100%;
    object-fit: cover;
}

/* Responsive Part */

@media screen and (max-width:576px) {
    body {
        padding: 10px 20px;
    }

    .lists {
        display: none;
    }

    .menu-bar {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    .nav .title img {
        width: 35px;
        height: 40px;
    }

    .nav .title h3 {
        margin-left: 8px;
        font-size: 1.8rem;
        font-weight: 800;
    }

    /* Hero Section */

    .hero {
        width: 100%;
        ;
        height: 490px;
        padding-top: 15px;
        background-size: auto;
        background-position: center;
    }

    .hero-title,
    .hero-paragraph {
        width: 100%;
    }

    .hero-title h1 {
        font-size: 1.5rem;
    }

    .hero-paragraph {
        font-size: 14px;
        margin: 0 auto;
        width: 250px;
    }

    .hero-selectors {
        flex-direction: column;
        margin-top: 50px;
        width: 287px;
        height: auto;
        padding: 16px;
        gap: 16px;
    }

    .hero-selectors .select,
    .hero-btn {
        width: 254px;
        height: 52px;
    }

    .hero-btn {
        justify-content: space-evenly;
    }

    /* Popular Tour */
    .popular-tours {
        flex-direction: column;
        padding: 0 0;
    }

    .popular-tours,
    .tour-paragraph,
    .tour-list,
    .tour-titles {
        width: 330px;

    }

    .tour-img {
        margin-top: 40px;
        width: 340px;
        height: 340px;
    }

    .tour-img img {
        width: 330px;
        height: auto;
        object-fit: cover;
    }

    /* Destination */
    .destination-content h2 {
        font-size: 1.2rem;
    }

    .destination-images {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
    }

    /* Choose part */
    .choose-title h2 {
        font-size: 1.2rem;
    }

    .choose-card {
        flex-direction: column;
    }

    .left-card,
    .right-card {
        margin: 0px 10px;
        width: 100%;
        height: 289px;
    }

    .center-card {
        width: 334px;
        height: 342px;
        margin: 0 auto;
    }
}